.container .grid-8{
  margin-bottom: 10px;
  margin-right: 10%;
}

:host
{
  p.tags{
    span{
      font-size: 12px;
      text-transform: uppercase;
      margin-right: 10px;
      display: inline-block;
      padding: 3px 5px;
      background: #c4e6e6;
      border: 5px;
    }
  }

  img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    &.main{
      width: 800px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  .small{
    width: 150px;
    margin: 3px;
    img{
      width: 100%;
    }
  }

}
  h6{
    color: gray;
  }

  button.button-success{
    color: #2C8AC9;
    border-color: #20A5FF;
    width: auto;
    height: auto;
  }

