<div class="row" *ngIf="!showGalleryForm">
  <div class="grid-12">

    <h2>{{gallery.title}}<div class="grid-8 text-right" *ngIf="!showGalleryForm">
      <button class="button button-success" (click)="showGalleryForm=true"><i class="fa fa-plus"></i></button>
    </div>

      <h6>{{gallery.dateCreated | polishDate}}</h6><br>
      <p class="description"><small>{{gallery.description}}</small></p>

      <p class="tags">
        <span *ngFor="let tag of gallery.tags">{{tag.tag}}</span>
      </p>
    </h2>

    <div class="row">
      <div class="grid-16">
        <img src="{{currentPhoto.imgUrl}}" class="main"></div>
    </div>

    <div class="row">
      <div *ngFor="let photo of gallery.photos" class="small">
        <img src="{{photo.thumbUrl}}" (click)="onClick(photo)">
      </div>

    </div>
  </div>
</div>
<div *ngIf="!showGalleryForm">
  <app-comment-form [galleryId]="gallery.galleryId" (addComment)="addComment($event)">

  </app-comment-form>
  <app-comment-item *ngFor="let comment of comments" [comment]="comment" (deleteComment)="removeComment($event)">

  </app-comment-item>

</div>

<div class="grid-8 text-right " *ngIf="showGalleryForm">
  <button class="button button-success"
          (click)="showGalleryForm=false">Back</button>
</div>
<div class="row"><div class="grid-8">
  <app-add-gallery-form [(gallery)]="gallery" *ngIf="showGalleryForm" (saveGallery)="saveGallery($event)"></app-add-gallery-form>
</div>
</div>



