<div class="grid-6">
  <label>
    Contact me:)
  </label><br><br>
  <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)" novalidate>
    <div class="form-group1">
      <label>First Name</label>
      <input type="text" class="input-control" name="firstName" #firstName="ngModel" [(ngModel)]="comment.firstName" required>

    </div>
    <p [hidden]="firstName.valid || firstName.pristine">First name required!</p>
    <div class="form-group1">
      <label>Last Name</label>
      <input type="text" class="input-control" name="lastName" #lastName="ngModel" [(ngModel)]="comment.lastName" required>
    </div>
    <p [hidden]="lastName.valid || lastName.pristine">Last Name required!</p>

    <div class="form-group2">
      <label>Email</label>
      <input type="email" class="input-control" name="email" #email="ngModel" [(ngModel)]="comment.email" required pattern="[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*">
      <p class="form-error" *ngIf="email.invalid && !email.pristine &&!email.dirty">Email required!</p>
      <p class="form-error" *ngIf="email.invalid && !email.pristine &&email.dirty">Wrong email!</p>
    </div>
    <div class="form-group3">
      <label>Message</label>
      <input type="text" class="input-control" name="message" #message="ngModel" [(ngModel)]="comment.message" required>
    </div>

    <button class="button button-primary" [disabled]="!commentForm.form.valid">Send message</button>


  </form>
</div>
