<nav>
  <div class="container">
    <div class = "row">
      <div class="grid-2">
        <a href="/" class="brand-logo"> Travel Blog </a> </div>
      <div class="grid-14">
        <ul>
          <li><a routerLink="/dashboard" routerLinkActive="is-active">Main Page</a></li>
          <li><a routerLink="/galleries" routerLinkActive="is-active">Galleries</a></li>
          <li><a routerLink="/news" routerLinkActive="is-active">News</a></li>
        </ul> </div>
    </div>
  </div>
</nav>
