.highlight .button {
  display: inline-block;
  color: #fff;
  background: darkred;
  margin: 20px;
  width: 130px;
  height: 60px;
  line-height: 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.highlight .button:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, .7);
  transform: rotate(20deg);
}

.highlight .button:hover:before {
  left: 150px;
  transition: all .5s;
}
.highlight {margin-bottom:100px;}

.block{
  background-color: #E8E8E8;
  border-radius: 8px;
  width: auto;
  height: 220px;
}
.img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
