<div class="component-content">
  <div class="block">
  <h4>{{gallery.title}}</h4>
  <p><small>{{gallery.dateCreated | polishDate | uppercase}}</small></p>
    <a routerLink="/galleries/{{gallery.galleryId}}" class="thumb-container">
    <img src="{{gallery.thumbUrl}}" width="300" height="150" style='border:1px solid #000000;border-radius: 4px;padding: 5px;'>
    </a>
  <p class="description">{{gallery.description}}</p>
  </div>
  <div class="highlight">
  <a (click)="onDelete(gallery.galleryId)" class="button delete">Delete</a>
  </div>
</div>
