.grid-12.grid-centered{
  margin-top: 50px;

}
a, a.previous, a.next {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
}

a:hover {
  background-color: #ddd;
  color: black;
}




.button-small{
  margin-top: 15px;
  margin-right: 5px;
  background: #2EDBB1;
}

.grid-8 {
  display: inline;
}
.button-success {
  background: #2EDBB1;
  line-height: 18px;
  padding: 6px 5px;
  border: 1px;
  margin-top: 12px;
  margin-left: 66%;
  margin-right: 5px;
}
