<div class="row row-align-center" *ngIf="!showGalleryForm">
  <div class="grid-12">

    <h1>{{title}}</h1><br>
    <p>{{description}}</p>
    <div class="grid-8 text-right" *ngIf="!showGalleryForm">
      <button class="button button-success" (click)="showGalleryForm=true"><i class="fa fa-plus"></i></button>
    </div>
    <p *ngIf="galleries && !showGalleryForm">Ilość galerii: {{(galleries|searchGalleries: searchValue).length}}</p>

    <app-gallery-search *ngIf="galleries.length" (searchValue)="setSearchValue($event)"></app-gallery-search>

  </div>
  <button class="button button-small" (click)="exportGalleries()">Export galleries</button>
  <button class="button button-small" (click)="removeGalleries()">Remove Galleries</button>
    <div class="row row-align-middle" *ngIf="galleries.length">
      <div class="grid-5 grid-centered" *ngFor="let item of galleries | searchGalleries : searchValue ">
        </div>
      <app-gallery-item  *ngFor="let item of galleries | searchGalleries: searchValue | slice:start:end; trackBy: item?.galleryId" [gallery]= "item" (deleteGallery)="removeGallery($event)" class="grid-5 grid-centered">

      </app-gallery-item>
      <div class="row-row container" *ngIf="galleries && !showGalleryForm">
        <div class="grid-16">
          <span>  <a class="previous round" (click)="setPrefPage()">&#8249;</a></span>

          <span *ngFor="let item of numberOfPages; let i = index">
   <a class="a" (click)="setCurrentPage(i)">{{i + 1}}</a></span>

          <span>  <a class="next round" (click)="setNextPage()">&#8250;</a></span>

    </div>
  </div>
    </div>
  </div>
  <div class="row" *ngIf="showGalleryForm">
    <div class="grid-8">
      <h2>Add new gallery</h2>
    </div>
    <div class="grid-10 text-right">
      <button class="button button-success"
              (click)="showGalleryForm=false">Back</button>
    </div>
    <app-add-gallery-form *ngIf="showGalleryForm" (saveGallery)="saveGallery($event)"></app-add-gallery-form>


  </div>

