.searchValue {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchValue:focus{
  color: #00B4CC;
}


/*Resize the wrap to see the search bar change!*/

