<div class="wrap">
  <div class="search">
<input type="text" name="searchValue" [(ngModel)] = "value" placeholder="What are you looking for?"  (keyup)="onChange()" >

    <i class="fa fa-search"></i><br><br>
<p>Szukam: {{value}} </p><br><br>
  </div>
</div>
